* {
    box-sizing: border-box;
}

:root {
    --color-primario: #E63946
}

.hero {
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.hero__contenido h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.hero__contenido p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.hero__btn {
    padding: 12px 25px;
    background-color: var(--color-primario);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}


body {
    margin: 0;
    font-family: sans-serif;
}

#encabezado {
    background-color: var(--color-primario);
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid #000;

}

.navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navegador .navegador__logo a {
    font-weight: 900;
    font-size: 30px;
    color: #fff;
}

.navegador__link {
    list-style-type: none;
    display: flex;
    gap: 40px;

}


.navegador li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.navegador li a:hover {
    color: #45f6;
}



.historias {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px 20px;
}


.historias__informacion {
    background-color: #fff;
    width: 250px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    padding: 80px 20px;

}

.historias__informacion:hover {
    transform: translateY(-10px);
}

.page {
    padding: 40px 20px;
}

.page__header {
    text-align: center;
    margin-bottom: 40px;
}

.news,
.videos,
.players {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.news__card,
.video__card,
.player__profile {
    background: white;
    width: 280px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.video__placeholder {
    height: 150px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}